# This is an example .env file for the backend. Copy this to .env and fill in the values.

NODE_ENV = development                 # Set to 'production' in production environments
PORT =                                 # Server port

MONGODB_URL=                           # Database (MongoDB connection string)

JWT_PASSWORD = your_jwt_secret_here    # Secret key for signing JWTs (keep this secure!)
CORS_ORIGIN =                          # Frontend URL for CORS (update in production)